#of this API
HOST=localhost
PORT=3000

#All this information in your amoCRM account
#Client ID
CID=<CID>
CLIENT_SECRET_CODE=<CLIENT_SECRET_CODE>
#it changes every 20 minutes
AUTH_CODE=<AUTH_CODE>
#Its address of amoCRM
EXTERNAL_API=https://<your_amoCRM_account>.amocrm.ru

